.navbar {
    /* margin: 0; */
    overflow: hidden;
    background-color: #730a0a;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    text-align: center;
    display: inline-flex;
    color: #eeeeee;
    padding: 15px;
    padding-left: 14%;
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar a:hover {
    color: #1c87c9;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

#after{
  padding-top: 4%;
}

.card a {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.card a:hover {
  opacity: 0.7;
}
.container{
    display:flex;
    gap: 20px;
    margin-top: 10px;
}
 
.card h1{
  font-size:15px ;
  text-transform: uppercase;
}
.card p{
  font-size: 12px;
}

.btn{
	color: aliceblue;
}


.container2{
    display:flex;
    gap: 20px;
    margin-top: 10px;
    display: none;
}

.container3{
    display:flex;
    gap: 20px;
    margin-top: 10px;
    display: none;
}


@media only screen and (max-width:498px){
  .container{
    overflow-x: scroll;
    white-space:normal;
  }
}

  
@media only screen and (max-width:498px){
    .container{
      overflow-x: scroll;
      white-space:normal;
    }
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media(max-width:991px){
    /* body{
      background-color: black;
    } */
    .navbar a {
      text-align: center;
      display: inline-flex;
      color: #eeeeee;
      padding: 15px;
      padding-left: 9%;
      font-weight: bolder;
      text-decoration: none;
      font-size: 18px;
    }

    #after{
      padding-top: 8%;
    }
    .container2{
        display:flex;
        gap: 20px;
        margin-top: 10px;
        display: flex;
    }

    .container{
        display: none;
    }
    .container3{
        display: none;
    }

  }
  
/* For phone compatability */

  @media(max-width:750px){
  
    .navbar a {
      text-align: center;
      display: inline-flex;
      color: #eeeeee;
      padding: 15px;
      padding-left: 6%;
      font-weight: bolder;
      text-decoration: none;
      font-size: 18px;
    }
    #after{
      padding-top: 7%;
    }
    .container2{
        display:flex;
        gap: 20px;
        margin-top: 10px;
        display: none;
    }

    .container{
        display: none;
    }
    .container3{
        display: flex;
    }
  }
  

  @media(max-width:500px){

    .navbar a {
      text-align: center;
      display: inline-flex;
      color: #eeeeee;
      padding: 15px;
      padding-left: 2%;
      font-weight: bolder;
      text-decoration: none;
      font-size: 18px;
    }
    #after{
      padding-top: 8%;
    }
  }
  